<html>
    <head>
      <title>My Health</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="h1">
        <h1>Welcome to my Health</h1>
      </div>
      <p>Hello {{ user }}</p>
      <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
      <br></br>
      <form action="/weight" method="POST">
        <p>Weight: <input value="{{ weight }}" name="weight"> (lbm)</p>
        <p>Body Fat: <input value="{{ bodyFat }}" name="bodyFat"> (%)</p>
        <input type="submit" value="Submit">
      </form>
      <p>Caluculated Values:</p>
      <p>Lean Body Mass: {{ leanBodyMass }} (lbm)</p>
      <p>BMR: {{ BMR }} (kCal)</p>  
    </body>
</html>
